html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: AmbleRegular;
    src: url('../fonts/Amble-Light-webfont.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.header {
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    clear: both;
    background: #FFF;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cssmenu {
    float: right;
    padding-top: 4px;
}

.cssmenu > ul > li {
    display: inline-block;
}

.cssmenu > ul > li > a {
    color: #999;
    display: block;
    margin: 10px 10px;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.cssmenu > ul > li.active a,
.cssmenu > ul > li a:hover {
    color: #000;
}

a {
    text-decoration: none;
}

.logo {
    float: left;
}

#tour {
    padding: 10% 0 5%;
    text-align: center;
}

.section-header span {
    font-family: 'Montserrat', sans-serif;
}

#tour h2 {
    font-size: 1.6em;
    color: #555;
    font-family: 'AmbleRegular', serif;
    padding: 1% 0 4%;
}

#tour h3 {
    font-size: 2.5em;
    color: #555;
    font-family: 'AmbleRegular', serif;
}

#tour h3 span {
    font-family: 'Montserrat', sans-serif;
}

.but {
    text-align: center;
    padding: 2em 0 3em 0;
}

.but a {
    font-family: 'AmbleRegular', serif;
    display: inline-block;
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998F5;
    background: #3998f5;
    background: -moz-linear-gradient(top, #3998f5 0%, #1777d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3998f5), color-stop(100%, #1777d9));
    background: -webkit-linear-gradient(top, #3998f5 0%, #1777d9 100%);
    background: -o-linear-gradient(top, #3998f5 0%, #1777d9 100%);
    background: -ms-linear-gradient(top, #3998f5 0%, #1777d9 100%);
    background: linear-gradient(to bottom, #3998f5 0%, #1777d9 100%);
    border: 1px solid #076CCE;
    padding: 8px 30px;
    font-size: 1.2em;
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
}

.but a:hover {
    background: #1777d9;
    background: -moz-linear-gradient(top, #1777d9 0%, #3998f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1777d9), color-stop(100%, #3998f5));
    background: -webkit-linear-gradient(top, #1777d9 0%, #3998f5 100%);
    background: -o-linear-gradient(top, #1777d9 0%, #3998f5 100%);
    background: -ms-linear-gradient(top, #1777d9 0%, #3998f5 100%);
    background: linear-gradient(to bottom, #1777d9 0%, #3998f5 100%);
    border: 1px solid #076CCE;
}

.but a img {
    vertical-align: middle;
    margin-bottom: 0;
}

p.desc {
    color: #555;
    font-size: 1.2em;
    font-family: 'AmbleRegular', serif;
}

p.desc span {
    color: #328fef;
    font-family: 'Montserrat', sans-serif;
}

#features {
    padding: 6% 0 5%;
    text-align: center;
    background: #f7f7f7;
    box-shadow: inset 0 0 30px #C9C4C4;
    -webkit-box-shadow: inset 0 0 30px #C9C4C4;
    -moz-box-shadow: inset 0 0 30px #C9C4C4;
    -o-box-shadow: inset 0 0 30px #C9C4C4;
    border-bottom: 1px solid #CAC9C9;
}

.section-header {
    padding-bottom: 3%;

    font-size: 4em;
    color: #555;
    font-family: 'AmbleRegular', serif;
}

#pricing {
    padding-top: 5%;
    text-align: center;
}

.plans .plan {
    width: 25.9999%;
    display: inline-block;
    margin: 0 3.33% 20px 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;

    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px #aaa;
    -webkit-box-shadow: 0 2px 10px #aaa;
}

li.plan-middle {
    width: 30.9999%;
    margin: 0 3.33% 20px 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.planContainer .price p {
    background: #202020;
    font-family: 'AmbleRegular', serif;
    color: #fff;
    font-size: 1.5em;
    height: 2.6em;
    line-height: 2.6em;
    margin: 0 0 1em;
}

.planContainer .title {
    font-size: 2.125em;
    color: #3e4f6a;
    margin: 0;
    padding: .6em 0;
    font-family: 'Montserrat', sans-serif;
}

.planContainer .bestPlanTitle {
    background: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.planContainer ul li {
    color: #0365FF;
    line-height: 3em;
    font-family: 'AmbleRegular', serif;
    border-bottom: 1px solid #E9E9E9;
    font-size: 1.2em;
}

.planContainer ul li span {
    color: #333;
}

.planContainer .button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    letter-spacing: 3px;
    line-height: 2.8em;
    border: 2px solid #3998F5;
    display: inline-block;
    width: 80%;
    height: 2.8em;
    border-radius: 4px;
    margin: 1.5em 0 1.8em;
    font-family: 'AmbleRegular', serif;
    font-size: 1.2em;
}

.planContainer .button a:hover,
.planContainer .button .bestPlanButton a:hover {
    background: #1B8DFC;
    color: white;
}

.planContainer .bestPlanButton a {
    background: #3998F5;
    color: #fff;
}

.zoom-icon {
    position: absolute;
    opacity: 0;
    background: rgba(64, 72, 109, 0.61);
    display: block;
    left: -20px;
    top: -152px;
    width: 290px;
    height: 219px;
    background: url(../images/zoom.png) center center no-repeat;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.section-col a:hover .zoom-icon {
    top: 0;
    left: -10px;
    opacity: 1;
}

#support {
    background: #fff;
    padding: 6% 0 2%;
    text-align: center;
}

.section-col:first-child {
    margin-left: 0;
}

.section-col {
    display: block;
    float: left;
    margin: 1% 0 1% 2.8%;
    width: 22.8%;
    position: relative;
}

.section-col img {
    max-width: 100%;
    display: block;
    border: 7px solid #FFF;
    box-shadow: 0 0 7px #AAA;
    -webkit-box-shadow: 0 0 7px #AAA;
    -moz-box-shadow: 0 0 7px #AAA;
    -o-box-shadow: 0 0 7px #AAA;
}

img {
    max-width: 100%;
}

.support-desc {
    padding: 10% 0 0;
}

.support-desc p {
    font-size: 1.1em;
    padding: 0.5em 0;
    color: #333;
    line-height: 1.5em;
    font-family: 'AmbleRegular', serif;
    text-align: left;
}

.support-desc h4 {
    text-align: left;
}

.support-desc h4 a {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.support-desc h4 a:hover {
    color: #3998F5;
}

#support h5 {
    font-size: 2em;
    color: #333;
    font-family: 'AmbleRegular', serif;
    padding: 3% 0 0;
    text-align: center;
}

.social-icons {
    text-align: center;
    border-bottom: 2px solid #E6E6E6;
    padding: 2% 0 6%;
}

.social-icons li {
    width: 42px;
    height: 42px;
    background: none;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
}

.social-icons li a {
    height: 42px;
    width: 42px;
    display: block;
    text-indent: -9999px;
    background: url(../images/img-sprite.png);
}

.social-icons a.twitter {
    background-position: 0 top;
}

.social-icons a.twitter:hover {
    background-position: 0 bottom;
}

.social-icons a.facebook {
    background-position: -55px top;
}

.social-icons a.facebook:hover {
    background-position: -55px bottom;
}

.social-icons a.googleplus {
    background-position: -111px top;
}

.social-icons a.googleplus:hover {
    background-position: -111px bottom;
}

.social-icons a.pinterest {
    background-position: -168px top;
}

.social-icons a.pinterest:hover {
    background-position: -168px bottom;
}

.social-icons a.linkedin {
    background-position: -225px top;
}

.social-icons a.linkedin:hover {
    background-position: -225px bottom;
}

.footer-menu {
    float: left;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    color: #999;
    display: block;
    margin: 10px 10px;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.footer-menu li.active a,
.footer-menu li a:hover {
    color: #000;
}

.footer {
    padding: 2% 0;
}

.copy {
    float: right;
    padding-top: 5px;
}

.copy p {
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-size: 1em;
}

p.copy a {
    color: #3998F5;
}

p.copy a:hover {
    color: #555;
}

@media (max-width: 867px) {
    .logo {
        float: none;
        text-align: center;
    }

    .cssmenu {
        float: none;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .plans .plan {
        width: 100%;
    }

    .section-col {
        width: 100%;
    }

    .section-col img {
        display: inherit;
    }
}

@media (max-width: 1366px) {
    .footer-menu {
        text-align: center;
        float: none;
    }

    .copy {
        text-align: center;
        float: none;
    }
}
